.container_task {
    background-color: rgb(243, 250, 248);
    width: 90%;
    height: 2rem;
    border-radius: 0.50rem;
    margin-top: 0.90rem;
    box-shadow: 1px 1px 2px 2px rgb(236, 236, 236);
    outline: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.content_task {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.text_checkbox {
    margin-left: 1.5rem;
    display: flex;
    align-items: center;
}

.text_checkbox span {
    margin-left: 0.50rem;
    margin-right: 4rem;
}

.buttons_task {
    margin-right: 1rem;
}

.button_task {
    outline: none;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    margin-left: 0.50rem;
}

.input_edit {
    margin-left: 2rem;
    border: 0;
    font-size: 17px;
    outline: none;
    background-color: transparent;
}

.container_form_edit {
    margin-top: 0.90rem;
    background-color: rgb(243, 250, 248);
    width: 90%;
    height: 2rem;
    border-radius: 26.25rem;
    box-shadow: 1px 1px 2px 2px rgb(236, 236, 236);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    border: 1px solid rgba(0, 0, 0, 0.322);
}
