@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    clear: none;
    text-decoration: none;
    list-style: none;
}

body {
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    background-color: rgb(59, 59, 59);
    font-family: 'Noto Sans', sans-serif;
}