body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(247, 244, 244);
}

.section{
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    flex-direction: row;
    background-color: white;
    justify-content: center;
    width: 70%;
    height: 33rem;
    border-radius: 1%;
    -webkit-box-shadow: 0px 10px 23px -1px rgba(0, 0, 0, 0.43);
    -moz-box-shadow: 0px 10px 23px -1px rgba(0, 0, 0, 0.43);
    box-shadow: 0px 10px 23px -1px rgba(0, 0, 0, 0.43);
}

.content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    height: 33rem;
    width: 100%;
    border-radius: 1%;
}

.lists {
    display: flex;
    flex-direction: column;
    background-color: transparent;
    height: 26rem;
    width: 60%;
}

.list-page {
    background-color: rgb(218, 236, 232);
    height: 33rem;
    width: 100%;
    border-radius: 1%;
}