.list_name {
    background-color: rgb(243, 250, 248);
    width: 90%;
    height: 2rem;
    border-radius: 0.50rem;
    margin-bottom: 0.70rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.list_name:hover {
    background-color: rgb(183, 216, 205)
}

.box_icon_title {
    margin-left: 0.625rem;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.button_delete {
    background-color: transparent;
    border: 0;
    outline: none;
    cursor: pointer;
    margin-right: 0.75rem;
    margin-left: 0.60rem;
}